.ModalContainer {
  width: 40rem;
  z-index: 500;
  position: fixed;
  bottom: 15vh;
  left: 40vw;
  transform: translateX(-50%);
  background-color: var(--grey-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  transition: all 0.4s ease-in-out;
}

.ModalContainer i {
  color: var(--font-color-primary);
  cursor: pointer;
  font-size: 2rem;
  margin-left: auto;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
