.spinnerContainer {
  height: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SliderContainer {
  width: 100%;
 
}

.trendingContainer {
  margin: 8rem auto;
}

.trendingTitle {
  font-size: 2rem;
  color: whitesmoke;
  margin-left: 6rem;
  margin-bottom: 5rem;
  letter-spacing: 2px;
}

.trendingPosterCont {
  width: 90%;
  margin: 1rem auto;
}









.slick-dots li button:before {
    color: #ffffff !important;
  }