@import 'variables.scss';

.Container {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Container p {
  color: var(--font-color-primary);
  font-size: 1.4rem;
  font-weight: bold;
}
