.CategoriesLinks {
  cursor: pointer;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding: 1rem 2rem;
  text-decoration: none;
}
.CategoriesLinks:hover {
  background-color: var(--red-primary);
  transform: translateY(-3px);
}
