.Form {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  /* border-bottom: 1px solid var(--red-primary); */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--grey-light);
  padding: 1rem 5rem 1rem .5rem;
  outline: none;
  font-family: var(--font-primary);
 
  color: var(--grey-light);
}

.Input::placeholder {
  font-size: 1.4rem;
  color: var(--grey-light);
  font-weight: bold;
  font-family: var(--font-primary);
}

.Input:focus {
  border-bottom: 2px solid var(--red-primary);
  color: var(--red-primary);
}