:root {
  --black-dark: #141011;
  --red-dark: #4a1e27;
  --grey-dark: #333;
  /* --grey-dark: #3d3d3d; */
  /* --red-primary: #982825; */
  --red-primary: #ed4c67;
  --grey-light:  #ACACAE;
  --font-primary: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  color: black;
  background-image: radial-gradient(circle, var(--grey-light), var(--red-dark));
  background-repeat: none;
  min-height: 100vh;
}
