@import 'variables.scss';

:root {
  --black-dark: #141011;
  --red-dark: #4a1e27;
  --grey-dark: #333;
  /* --grey-dark: #3d3d3d; */
  /* --red-primary: #982825; */
  --red-primary: #ed4c67;
  --grey-light: #808080;
  --font-primary: 'Lato', sans-serif;
  --font-color-primary: #ffffffff;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  background-image: radial-gradient(circle, var(--grey-light), var(--red-dark));
  background-repeat: none;
  min-height: 100vh;
  font-size: 1.6rem;
}

::selection {
  color: var(--font-color-primary);
  background-color: var(--red-primary);
}
