.ModalTitle {
  color: var(--font-color-primary);
  font-size: 1.8rem;
}

.ModalForm {
  margin: 1rem auto;
  width: 100%;
}

.ModalFormInputs {
  margin: 2.5rem auto;
  display: flex;
  flex-direction: column;
}

.ModalFormInputs input::placeholder {
  color: var(--font-color-primary);
  font-size: 1.4rem;
  font-weight: bold;
}

.ModalFormInputs input {
  margin-top: 0.8rem;
  padding: 0rem 1rem 1.5rem 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: var(--red-primary);
  font-size: 1.4rem;
  font-weight: 600;
}

.ModalFormInputs input:focus {
  border-bottom: 2px solid var(--red-primary);
  /* background-color: var(--grey-light); */
}

.span {
  color: var(--font-color-primary);
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  margin: 2rem auto;
}
